@import "tailwindcss";

@font-face {
    font-family: "ArcaneFont"; /* You can name it anything */
    src: url("./assets/fonts/Hypebuzz.ttf") format("truetype");
    /* font-weight: normal;  */
    /* font-style: normal; */
}

.custom-font {
  font-family: ArcaneFont;
}